/* inicio de codigo - definicao das grids */


body {
    margin: 0;
    display: grid;
    grid-template-areas: ' section  section section section ' /*  */
                            'aside aside aside aside'
                            'div div div div'
                            'div-icon div-icon div-icon div-icon'
                            'footer footer footer footer';
    grid-template-rows: 90vh 45vh 20vh 20vh;

}

/* fim de codigo - definicao das grids */


/* inicio da secao com a imagem de fundo banner */

section{
    
     grid-area: section;
    background-color: brown;
    background-image: url(../img/banner.png);
    background-size: cover;
    border-top: 10px solid #2dcc70;
  
}

section #divTexto {
    width: 500pt;
    height: 80%;
    background-color: red;
}

section #divImagem {
    width: 480px;
    height: 80%;
    background-color: red;
}





/* inicio de codigo - mao com celular*/


/* fim de codigo - mao com celular */

/* inicio de codigo div icons contendo os icones IOS ANDROID E WINDOWS */

.icons {
    width: 20%;
    height: 200px;
    background-color: ; 
    color: white;
   display: inline-block;
    justify-content: center;
    align-items: center
}


#IOS {
    
    width: 44px;
    height: 44px;
    background-color: red;
    opacity: 0.5;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center
    
    
  
}
#ANDROID{
    
      width: 40px;
    height: 40px;
    background-color: black;
    opacity: 0.5;
    border-radius: 100%;
    display: flex;
     justify-content: center;
    align-items: center
    
    
    
    
}
#WINDOWS{
    
     width: 45px;
    height: 45px;
    background-color: black;
    opacity: 0.5;
    border-radius: 100%;
    display: flex;
     justify-content: center;
    align-items: center
   
}

/* fim de codigo div icons contendo os icones IOS ANDROID E WINDOWS */

/* fim de secao com imagem de fundo banner */

/*  inicio de codigo icons contendo h1*/
.icons h1{
    font-size: 30px;
    line-height: 3px;
}
/*  fim de codigo icons contendo h1*/


/* inicio codigo imgicon */





/* fim de codigo imgicon */


/* inicio de codigo aside */

aside{
    grid-area: aside;
    background-color:yellow;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
} 
.design {
    width: 100%;
    height: 100%;
    background-color: wheat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    
}
.design img{
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    

}

.icons span {

    display: flex;
    justify-content: center;
    align-items: center;
}
#config{
    height: 100px;
    width: 100px;
    background-color: #2dcc70;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
 
   
}

#estrela {
    
     height: 100px;
    width: 100px;
    background-color: #2dcc70;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


#mundo {
    
     height: 100px;
    width: 100px;
    background-color: #2dcc70;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

/* fim de codigo aside */




#video{
    grid-area: div;
    background-color: red;
}


footer{
     grid-area: footer;
     background-color: blueviolet;

}